# coding: utf-8

"""
    Bilddoku

    Part of the server to support Bilddoku client and plugin.   # noqa: E501

    OpenAPI spec version: 1.0.3
    Contact: nobody@swagger.io
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PointsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_point(self, point_id, **kwargs):  # noqa: E501
        """get point  # noqa: E501

        Get point  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_point(point_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int point_id: ID of point (required)
        :param bool with_bilddoku: gives also the bilddoku
        :return: BilddokuQuery
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_point_with_http_info(point_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_point_with_http_info(point_id, **kwargs)  # noqa: E501
            return data

    def get_point_with_http_info(self, point_id, **kwargs):  # noqa: E501
        """get point  # noqa: E501

        Get point  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_point_with_http_info(point_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int point_id: ID of point (required)
        :param bool with_bilddoku: gives also the bilddoku
        :return: BilddokuQuery
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['point_id', 'with_bilddoku']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_point" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'point_id' is set
        if ('point_id' not in params or
                params['point_id'] is None):
            raise ValueError("Missing the required parameter `point_id` when calling `get_point`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'point_id' in params:
            path_params['point_id'] = params['point_id']  # noqa: E501

        query_params = []
        if 'with_bilddoku' in params:
            query_params.append(('with_bilddoku', params['with_bilddoku']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/points/{point_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BilddokuQuery',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
